{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style.css') }}">
{% endblock %}
<nav class="navbar nav_link">
    <div class="nav_center">
        <div class="header_nav">
            <h1>
                <a href="{{path('accueil')}}">LilaLys'Shop</a>
            </h1>
            {# <a class="title_site" href="{{ path('main') }}"><img src="{{ asset('assets/images/index/logolinkz.png') }}" alt=""></a> #}
        </div>
        <!---collapse navbar-collapse-->
        <div class="nav_ctn" id="navbarNav">
            <ul class="navbar_nav_ul">
                <li class="nav_item_btn">
                    <a href="{{path('products')}}">Doudou</a>
                </li>
                <li class="nav_item_btn">
                    <a href="{{path('pattern')}}">Paterne</a>
                </li>
                <li class="nav_item_btn">
                    <a href="{{path('freestuff')}}">Free stuff</a>
                </li>
                <li class="nav_item_btn cart_idx_drop">
                    {% if nbProduit.getNbProducts is defined %}
                        <a class="" href="{{path('cart')}}"><i class="fa-solid fa-cart-shopping cart_count_a">{{nbProduit.getNbProducts}}</i></a>
                    {% else %}
                        <a class="" href="{{path('cart')}}"><i class="fa-solid fa-cart-shopping cart_count_a">0</i></a>
                    {% endif %}
                    <div class="dropdown_cart">
                        <h3>Mon Panier</h3>
                        {% if app.user.getPanierProduits is defined %}
                        {% for product in app.user.getPanierProduits %}
                        <div class="dropdown_cart_card">
                            <img src="/uploads/photos/{{product.getIdProduit.getId}}/mini/{{product.getIdProduit.getProductImage}}">
                            <div class="drp_crt_rgt">
                                <p>{{product.getIdProduit.name}}<p>
                                <p>{{product.getIdProduit.price}}</p>
                                <button data-product-id="{{product.getIdProduit.getId}}" class="cart_delete_product_btn">X</button>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="drp_crt_bot">
                            <p>Sous-total: {{app.user.getCart.getTotalPrice}}</p>
                            <p>Taxe: 15%</p>
                            <p>Total: {{app.user.getCart.getTotalPrice}}</p>
                            <a class="a_see_panier" href="{{path('cart')}}">Voir mon panier</a>
                        </div>
                    </div>
                </li>
                <li class="nav_item_btn">
                    {% if app.user %}
                        {% if app.user.name != null %}
                            <a class="idx_acc_a" href="{{ path('login')}}">{{app.user.name}} v</a>
                        {% endif %}
                    {% else %}
                        <a href="{{ path('login')}}"><img src="{{asset('assets/images/index/user.png')}}" alt=""></a>
                    {% endif %}
                    
                    <ul class="dropdown">
                        {% if app.user %}
                            <li><a href="{{path('account')}}">Compte</a></li>
                            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                                <li><a href="{{path('admin_adminindex')}}">Admin</a></li>
                            {% endif %}
                        {% else %}
                            <li><a href="{{path('login')}}">Compte</a></li>
                        {% endif %}
                        {% if app.user %}
                            <li><a href="{{path('logout')}}">Logout</a></li>
                        {% else %}
                            <li><a href="{{path('login')}}">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
	
</nav>
