{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style.css') }}">
{% endblock %}
<nav class="navbar nav_link">
    <div class="nav_center">
        <div class="header_nav">
            <h1>
                <a href="{{path('accueil')}}">LilaLys'Shop</a>
            </h1>
            {# <a class="title_site" href="{{ path('main') }}"><img src="{{ asset('assets/images/index/logolinkz.png') }}" alt=""></a> #}
        </div>
        <!---collapse navbar-collapse-->
        <div class="nav_ctn" id="navbarNav">
            <ul class="navbar_nav_ul">
                <li class="nav_item_btn">
                    <a href="">Doudou</a>
                </li>
                <li class="nav_item_btn">
                    <a href="">Paterne</a>
                </li>
                <li class="nav_item_btn">
                    {% if nbProduit.getNbProducts is defined %}
                        <a class="" href=""><i class="fa-solid fa-cart-shopping cart_count_a">{{nbProduit.getNbProducts}}</i></a>
                    {% else %}
                        <a class="" href=""><i class="fa-solid fa-cart-shopping cart_count_a">0</i></a>
                    {% endif %}
                </li>
                <li class="nav_item_btn">
                    {% if app.user.name != null %}
                        <a class="idx_acc_a" href="{{ path('login')}}">{{app.user.name}} v</a>
                    {% else %}
                        <a href="{{ path('login')}}"><img src="{{asset('assets/images/index/user.png')}}" alt=""></a>
                    {% endif %}
                    
                    <ul class="dropdown">
                        {% if app.user %}
                            <li><a href="{{path('account', {email: app.user.email} )}}">Compte</a></li>
                            {% if app.user.roles[0] == "ROLE_ADMIN" %}
                                <li><a href="{{path('admin_adminindex')}}">Admin</a></li>
                            {% endif %}
                        {% else %}
                            <li><a href="{{path('login')}}">Compte</a></li>
                        {% endif %}
                        {% if app.user %}
                            <li><a href="{{path('logout')}}">Logout</a></li>
                        {% else %}
                            <li><a href="{{path('login')}}">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
	
</nav>
