{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="index_ctn">
        <div class="index_wtd">
            <div class="cart_ctn">
                <div class="cart_product">
                    <div class="cart_prd_hdr">
                        <h2>MON PANIER</h2>
                        <p>{{cart.description}}</p>
                    </div>
                    {% for product in products %}
                    <div class="cart_prd_check" data-product-id="{{product.getIdProduit.getId}}">
                        <div class="crt_check_img">
                            <img src="/uploads/photos/{{product.getIdProduit.getId}}/mini/{{product.getIdProduit.getProductImage}}" alt="">
                        </div>
                        <div class="crt_check_details">
                            <p>{{product.getIdProduit.getName}}</p>
                            <p>{{product.getIdProduit.getDescription}}</p>
                            <p>Quantités : {{product.getNbProduct}}</p>
                            <p>{{product.getIdProduit.getPrice}} €</p>
                            <button data-product-id="{{product.getIdProduit.getId}}" class="cart_delete_product_btn">Supprimer</button>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="crt_sous_total">
                        <h3>SOUS-TOTAL</h3><p class="cart_total_price">{{cart.getTotalPrice}}</p>
                    </div>
                </div>
                <div class="cart_rgt_ctn">
                    <div class="cart_price">
                        <div class="crt_prc_hdr">
                            <h2>TOTAL</h2>
                        </div>
                        <p>Total Before Reduction : {{previousTotal}}</p>
                        <p class="cart_total_price">sous-total : {{cart.getTotalPrice}}</p>
                        <h3>Livraison</h3>
                        
                    </div>
                    <div class="crt_code_promo">
                        <h2>Code Promo :</h2>
                        {{form_start(formcode)}}
                        {{form_row(formcode.code)}}
                        {{form_end(formcode)}}
                        {% if recution_promo.data == 'int' %}
                            <p>Vous avez le droit à <strong>{{recution_promo['value']}} %</strong> de réduction sur votre panier</p>
                        {% elseif recution_promo.data == 'txt' %}
                            {{recution_promo['value']}}
                        {% endif %}
                    </div>
                    <div class="crt_paiement_wdt">
                        <p>PAIEMENT</p>
                        {# <a href="{{path('paiment_cart', {cartid: cart.id})}}">Passer au paiement</a> #}
                    </div>
                    <div class="checkout_wtn">
                        <div class="cart_check_ctn">
                            <div id="paypal-button-container" class="paypal-button-container">
                                <a href="{{path('paypal', {idCart: cart.id})}}"></a>
                                <img src="{{asset('assets/images/paypal/Paypal-Logo.png')}}" alt="">
                            </div>
                            <div class="cart_check_spr">
                                <div class="crt_chk_ligne"></div>
                                <p>or</p>
                                <div class="crt_chk_ligne"></div>
                            </div>
                            <div class="crt_chek_bank">
                                <a href="{{path('stripe_checkout', {cart: cart.id})}}">Carte bancaire</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
