{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="index_ctn">
        <div class="index_wtd">
            <div class="idx_first_ctn">
                <img src="{{asset('assets/images/mouton1.jpg')}}" alt="">
                <p>DOUDOU</p>
            </div>
            <div class="idx_shop_ctn">
                <h2>Tout nos produits</h2>
                <div class="idx_shop_main">
                    {% for product in products %}
                        <div class="card_crochet_ctn idx_shop_card">
                            <div class="idx_img_main_shop">
                                <img src="/uploads/photos/{{product.id}}/{{product.getProductImage}}" alt="">
                            </div>
                            <div class="idx_main_shop_desc">
                                <h3>{{ product.name }}</h3>
                                <p>{{ product.price }}€</p>
                                <p>#{{product.category.getName}}</p><a href="{{path('product', {idproduit : product.id})}}">Fiche produit</a>
                                {% if product.isHasDiscountedPrice == 1 %}
                                    <p class="span_promo">Promo !</p>
                                {% endif %}
                            </div>

                            <i class="fa-solid fa-cart-shopping fa-xl btn_main_shop" data-product-id="{{product.id}}"></i>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="idx_deux_ctn">
                <img src="{{asset('assets/images/collection.jpg')}}" alt="">
                <p>PATERNE</p>
            </div>
        </div>
    </div>
{% endblock %}
