{% extends 'base.html.twig' %}

{% block javascripts %}{% endblock %}

{% block title %}Admin panel{% endblock %}

{% block body %}
<div class="admin_wth">
    <div class="admin_ctn">
        <div class="admin_top">
            <h2>Panel d'administration</h2>
            <p>Cette page est réserver à la mise en place de produits et la gérance du site</p>
        </div>
        <div class="admin_product_add">
            <div class="adm_top_prd">
                <h2>Ajout de produits</h2>
                <a href="{{path('admin_adminnewproduct')}}">+</a>
            </div>
            <h2>tout les produits</h2>
            <div class="adm_show_prd">
                {# {{dump(produits)}} #}
                {% for produit in produits %}
                    <div class="adm_show_card">
                        <img src="/uploads/photos/{{produit.id}}/mini/{{produit.getProductImage}}" alt="">
                        <p>{{ produit.name }}</p>
                        <p>{{ produit.price }}$</p>
                        <p>#{{produit.category.getName}}</p>
                        <div class="adm_shw_crd_option">
                            <a href="{{path('admin_modif_product', {idProduct : produit.id})}}">Modifier</a>
                            <a href="{{path('admin_admindelproduct', {productid: produit.id})}}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h2>Création de catégory</h2>
            <div class="adm_cat_add">
                <a href="{{path('admin_newcategory')}}">New Catégory</a>
                <div class="adm_cat_show">
                    {% for category in category %}
                        {{category.name}}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="bondecommande_div_adm">
            <h3>Récupération bon de commande :</h3>
            {{form_start(form_bdc)}}
            {{form_end(form_bdc)}}
        </div>
        <div class="add_bon_commande">
            <h3>Nouvelle Order</h3>
            {{form_start(form_order)}}
            {{form_end(form_order)}}
        </div>

        <div class="add_code_promo">
            {{ form_start(form_promo) }}
            {{ form_end(form_promo) }}
        </div>
    </div>
</div>
{% endblock %}
