{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    {# {{dump(product)}} #}
    <div class="prd_ctn">
        <div class="prd_wth">
            <p>Doudou > {{product.name}}{{product.description}}</p>
            <div class="prd_top">
                <div class="prd_card_img">
                    <div class="prd_card_img_arrow">
                        <div class="prd_card_arrow">
                            <i class="fa-solid fa-arrow-left leftArrow"></i>
                            <i class="fa-solid fa-arrow-right rightArrow"></i>
                        </div>
                        <img src="/uploads/photos/{{product.id}}/mini/{{product.getProductImage}}" alt="">
                    </div>
                    <div class="prd_img_slide">
                        <img src="/uploads/photos/{{product.id}}/mini/{{product.getProductImage}}" alt="">
                        {% for img in product.getProductImgs %}
                            <img src="/uploads/photos/{{product.id}}/{{img.getPrdname}}" alt="">
                        {% endfor %}
                    </div>
                </div>
                <div class="prd_card_desc">
                    <h2>{{product.name}}</h2>
                    <p>Quantité restante : {{product.getStockQuantity}}</p>
                    <div class="prd_dtl_prc">
                        <p>{{product.price}} €</p>
                        <!--Ajouter le prix et quantité-->
                        <i class="fa-solid fa-cart-shopping cart_count_a" data-product-id="{{product.id}}"><a href="{{path('add-to-cart', {productId: product.id})}}"></a>Acheter</i>
                    </div>
                    <div class="prd_fiche_technique">
                        <h3>Détails produit</h3>
                        <p>Description : {{product.description}}</p>
                        <p>Produit Type : {{product.getProductType}}</p>
                        <p>Catégorie : {{product.category.getName}}</p>
                    </div>
                    <div class="prd_reseaux">
                        <div class="prd_res_wth">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prd_bot">
                <div class="prd_bot_desc">
                
                </div>
            </div>
        </div>
    </div>
{% endblock %}
