<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}LilaLysShop -{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/accueil.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/account.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/accountmodif.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}">
        <script src="https://kit.fontawesome.com/d02ac30c3f.js" crossorigin="anonymous"></script>
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% include "_partials/_nav.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
