{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
<div class="prf_ctn">
    <div class="prf_wth">
        <h2>Détails</h2>
        <form action="POST" method="POST">
            {{ form_start(form) }}
            {{ form_row(form.name)}}
            {{ form_row(form.email)}}
            {{ form_row(form.telephone)}}
            {{ form_row(form.adresse)}}
            <input type="text">
            <label for="" name="city">Ville</label>
            <ul>
            {% if suggestions is defined and suggestions|length > 0 %}
                <p>La ville que vous avez saisie n'a pas été trouvée. Voici quelques suggestions :</p>
                    <ul>
                        {% for suggestion in suggestions %}
                            <li>{{ suggestion }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </ul>
            {{ form_end(form) }}
        </form>
    </div>
</div>
{% endblock %}
