{% extends 'base.html.twig' %}

        {% block javascripts %}
            <script src="{{asset('assets/js/index.js')}}" defer></script>
            <script src="{{asset('assets/js/ajaxAddCart.js')}}" defer></script>
            <script src="{{asset('assets/js/reloadCartCount.js')}}" defer></script>
            <script src="{{asset('assets/js/cart/supprProduitCart.js')}}" defer></script>
            <script src="{{asset('assets/js/product/productimgshow.js')}}" defer></script>
            <script src="{{asset('assets/js/index/ImgBuyAnim.js')}}" defer></script>
            <script src="{{asset('assets/js/index/slideProductIndex.js')}}" defer></script>
        {% endblock %}
        
{% block title %}Account{% endblock %}

{% block body %}
<div class="prf_ctn">
    <div class="prf_wth">
        <h2>Détails</h2>
        <form action="POST" method="POST">
            {{ form_start(form) }}
            {{ form_row(form.name)}}
            <div class="form_prd_email">
                <label for="" name="city">Email</label>
                <input type="text" name="email" value="{{user.email}}">
            </div>
            {{ form_row(form.telephone)}}
            {{ form_row(form.adresse)}}
            <div class="form_prd_city">
                <label for="" name="city">Ville</label>
                <input type="text" name="city" value="{{user.adresse.getCity.getLabel}}">
                <ul>
                {% if suggestions is defined and suggestions|length > 0 %}
                    <p>La ville que vous avez saisie n'a pas été trouvée. Voici quelques suggestions :</p>
                        <ul>
                            {% for suggestion in suggestions %}
                                <li>{{ suggestion }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </ul>
            </div>
            
            {{ form_end(form) }}
        </form>
    </div>
</div>
{% endblock %}
